/*basic style*/
@import '../node_modules/compass-mixins/lib/compass/reset';
@import '../node_modules/compass-mixins/lib/compass/css3';


html {
	font-size: 0.625rem;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.4rem;
}

p {
	font-size: 1.6rem;
}

/*custom style*/

#css-zen-garden {
	width: 80%;
	margin: auto;
}

.supporting {
	float: left;
}

.sidebar {
	float: left;
}


/*responsive style*/

@media (min-width: 1200px) {
	.supporting {
		width: 70%;
		margin: auto;
	}
	.sidebar {
		width: 30%;
		margin: auto;
	}
	.wrapper {
	width: 70%;
	margin: auto;
	}
}